* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    text-decoration: none;
}


/*Nav Bar css*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    height: 18%;
}

header .logo-container {
    display: flex;
    align-items: center;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #0071f2;
}

header .title {
    margin-left: 10px;
    color: #fff;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #fff;
    display: block;
}

header .navbar ul li a:hover {
    background: #d2d2d2;
    color: #333;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #333;
    display: none; /* Hide the dropdown by default */
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li:hover ul {
    display: block; /* Display the dropdown when hovering over the parent item */
}

/*End of Nav Bar css*/